form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  

  .primary-button {
    background: linear-gradient(to bottom, #4CAF50, #3e8e41);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .primary-button:hover {
    background: linear-gradient(to bottom, #3e8e41, #4CAF50);
  }
  